[Unit]
Description=Call a script on first boot to continue installation.
After=apt-daily-upgrade.service network.target

[Service]
Type=oneshot
Environment=USER='root'
ExecStart=/home/pi/firstboot "/home/pi/fbprogress"
